.statistics-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.statistics-list {
  display: grid;
  list-style: none;
  margin: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  padding: 0;
  gap: 40px;
}

.statistics-card {
  display: grid;
}

.chart {
  justify-self: center;
}
