.form-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.form-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.form-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.form {
  padding: 40px;
}

.form-page-left {
  padding: 40px;
  display: grid;
  justify-content: center;
}

.form hr {
  background-color: #dddddd;
}

.form-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
