.form-search {
  display: flex;
}

.from-drop-cont {
  position: relative;
  z-index: 1;
  margin-left: 30px !important;
}

.sort-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 5px;
}

.form-drop {
  position: absolute;
  right: 0;
  min-width: 320px;
  top: calc(100% + 10px);
  z-index: 5;
}

.form-filters {
  display: grid;
  margin: 0;
  gap: 10px;
  padding: 30px;
  transition: all 0.5s ease;
  list-style: none;
}

.form-search-icon {
  display: grid;
  place-items: center;
  padding: 10px;
  border: 1px solid #ced4da;
}

.form-search-search {
  border-right: none !important;
  max-width: 40%;
}
